.container{
	padding-top: 30px;
}

img {
    max-width: 100%;
    height: auto;
   float: left;
   margin: 0;
   padding: 0;
}
.diagramPic{
    float: left;
    box-sizing: border-box;
    min-height: 1px;
    padding: 0 !important;
}
.diagramRow{
    margin-bottom: 0;
    max-width: 860px;
}

.logo img{
    width: 100px;
    border-radius: 10px;
}